@import "tailwindcss";
@plugin "daisyui" {
  themes: pastel, cupcake, corporate, winter;
}

.app-background {
  background-image: url('/images/app-banner.jpg');
  background-size: cover; /* Ensures the image covers the entire container */
  background-position: center;
  background-repeat: no-repeat; /* Prevents repetition */
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
  
  /* Mobile Fix */
  @media (max-width: 768px) {
    background-attachment: scroll; /* Fixes scrolling issue */
    background-size: cover; /* Ensures full coverage */
    background-position: center;
    height: 100vh; /* Forces full height */
  }
}